{% extends 'index.html' %}
{% load static %}

{% block content %}



<button onclick="showForm()" sytle='margin-top:3px;'>Open Form</button>

<button sytle='margin-top:3px;' ><a href ='{% url 'home' %}'  style='color:white' >Return to Home</a></button>

<div id="applicationForm" style="display:none;">
    {% if messages %}
  <ul class="messages">

    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}

  </ul>

{% endif %}

    <form id="myForm" onsubmit="submitForm(); return false;">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="dob">DOB:</label>
        <input type="date" id="dob" name="dob" required><br>

        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            {% for choice in gender_choices %}
            <option value="{{choice.0}}">{{choice.1}}</option>
            
            {% endfor %}
        </select><br>

        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="address">Address:</label>
        <textarea id="address" name="address" required></textarea><br>

        <label for="district">District:</label>
        <select class="form-control" id="id_district" name="district">
            {% for district in district_choices %}
                <option value="{{ district.id }}">{{ district.name }}</option>
            {% endfor %}
        </select>
        
        <br>

        <label for="branch">Branch:</label>
            <select class="form-control" id="id_branch" name="branch">
                <option value="">Select District first</option>
            </select>
                
        <label for="accountType">Account Type:</label>
        <select id="accountType" name="accountType" required>
            {% for choice in account_type_choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
            {% endfor %}
            
        </select><br>

        <label for="accountType">Material Provide:</label>
        <div>
          
            {% for material in material_choices %}
                <div style="display: inline-block; margin-right: 10px;">
                    <input type="checkbox" id="{{ material.name }}" name="materials" value="{{ material.name }}">
                    <label for="{{ material.name }}">{{ material.name }}</label>
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        </div>
        

        <br>
        <div class="d-flex justify-content-center mt-3 login_container">
            <input class="btn login_btn" type="submit" value="submit">
        </div>
      
    </form>
</div>

<script>
    function showForm() {
        var form = document.getElementById("applicationForm");
        if (form.style.display === "none" || form.style.display === "") {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }

    function updateBranchDropdown() {
       
    }

    function submitForm() {
        var form = document.getElementById("myForm");
        var formData = new FormData(form);

        $.ajax({
            url: '/home/newpage/',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response){
               
                console.log(response);
            },
            error: function(error){
                
                console.log(error);
            }
        });
    }

    $(document).ready(function(){
        $('#id_district').change(function(){
            var selectedDistrict = $(this).val();
    
            $.ajax({
                url: '/home/get_branches/',  
                type: 'GET',
                data: {'district_id': selectedDistrict},
                success: function(data){
                    $('#id_branch').empty();
    
                    $('#id_branch').append($('<option>', {
                        value: '',
                        text: 'Select Branch'
                    }));
    
                    $.each(data.branches, function(index, branch){
                        $('#id_branch').append($('<option>', {
                            value: branch.id,
                            text: branch.name
                        }));
                    });
                }
            });
        });
    });
</script>

{% endblock %}


